bin
Bin
obj
Obj
output
Output
*.user
*.suo
packages/repositories.config
*.ncrunchsolution
Swagometer.Tests/Swagometer.Tests.ncrunchproject
*.ncrunchproject
/_NCrunch_Swagometer
/Swagometer/_NCrunch_Swagometer/Swagometer.crunchsolution.cache
/Swagometer/devsouthcoast.png
/Swagometer/John_credits.bmp
/Swagometer/Me_credit.bmp
/Swagometer/me_credits.bmp
/Swagometer/swagometer logo.bmp
/Swagometer/swagometer logo.png
/Swagometer/timer_1.bmp
/Swagometer/timer_2.bmp
/Swagometer/timer_3.bmp
/Swagometer/timer_4.bmp
/Swagometer/timer_5.bmp
/Swagometer/timer_6.bmp
/Swagometer/timer_7.bmp
/Swagometer/timer_8.bmp
/Swagometer/TraceAndTestImpact.testsettings
/Swagometer/Local.testsettings
/devsouthcoast.png
/gameover.bmp
/John_credits.bmp
/Me_credit.bmp
/me_credits.bmp
/timer_7.bmp
/timer_8.bmp
/timer_6.bmp
/timer_5.bmp
/timer_4.bmp
/timer_3.bmp
/timer_2.bmp
/timer_1.bmp
/Thumbs.db
/swagometer logo.png
/swagometer logo.bmp
/PinballSwagOMeter150530.vsp
/PinballSwagOMeter150530(1).vsp
/PinballSwagOMeter.psess
/Performance1.psess
/Example XML FilesSwag-Winners-20150524-173802.xml
/Backgrounds/karate kid.jpg
/Backgrounds/neon line.jpg
/Example XML Files/SwagMaker.xlsx
